<!--{% extends base %}-->
<!DOCTYPE html>
{% block preamble %}
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="C:\Users\20191887\github\VisualizationGroup33\GUItests\app2\templates\m_style.css">
    <style>
        /*.Title{
            text-align: center;
            font-size: 40px;
            font-family: Cambria;
            font-weight: bold;
            color: red;
        }*/
    </style>
    <script>
    </script>

{% endblock %}

{% block contents%}
    <header>
        <nav>
            <ul>
                <li><p>Hello</p></li>
                <li><p>There</p></li>
                <li><p>General</p></li>
                <li><p>Kenobi</p></li>
            </ul>
        </nav>
    </header>
    <!--<div class="PlotZoneContainer">{{ embed(roots.random_points) }}</div>-->
{% endblock %}