@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
    color: whitesmoke;
    background-color: rgb(54, 54, 54);
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-variant: normal;
    font-style: normal;

    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.TitleBar {
    width: 100%;
    display: block;
    background-color: rgb(63, 63, 63);

    align-content: center;
    text-align: center;
    font-size: 200%;
    
}

header{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

a {
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;

    margin-left: 20px;
    margin-right: 20px;
    padding: 5px; 

    transition: background-color 1s;
    transition: color 1s;
    transition: text-decoration 1s;
}

a:hover{
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    text-decoration: underline;

    transition: background-color 1s;
    transition: color 1s;
    transition: text-decoration 1s;
}

.layoutcontainer{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    border: 1px solid;
}


.bar1{
    max-width: 120px;
    display: inline-block;
    border: 1px dotted;
}

.plots{
    display: inline-block;
    border: 1px dotted;
}

.bar2{
    max-width: 120px;
    display: inline-block;
    border: 1px dotted;
}